<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2333068.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
   <h2><span itemprop="name">The Doctor Loan Program</span></h2>

     <meta itemprop="duration" content="55S" />
     <meta itemprop="thumbnailUrl" content="https://i.ytimg.com/vi_webp/ffOZLaWICqs/sddefault.webp" />
     <meta itemprop="contentURL" content="https://www.youtube.com/watch?v=ffOZLaWICqs" />
     <meta itemprop="embedURL" content="https://www.youtube.com/embed/ffOZLaWICqs?rel=0&autoplay=0&loop=0" />
     <meta itemprop="uploadDate" content="2016-05-19" />
          <object>
        <section class="mbr-section mbr-after-navbar" id="video2-15">
            <div class="mbr-section__container container mbr-section__container--isolated">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--no-bg mbr-figure--caption-outside-bottom">
                            <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/ffOZLaWICqs?rel=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe>
                            </div>

                        </figure>


                    </div>
                </div>
            </div>



<section class="mbr-section padrows" id="image2-17">
    <div class="mbr-section__container container mbr-section__container--isolated">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <img src="<%= asset_path('reflector-1279x235-54.png')%>" class="mbr-figure__img">

                </figure>
            </div>
        </div>
    </div>
</section>
<span itemprop="description" content="Loan Program Guidelines for NonConf Fixed DR LN and NonConf Fixed Period ARM LIBOR DR LN"/>

</section>
          </object>

</div>



<%= render 'layouts/grid' %>

<%= render 'layouts/displaytest' %>

<%= render 'layouts/article' %>







<!--     <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" /> -->









  <!-- End of container -->
  <!-- Sponsors -->
  <!-- Foot -->




