<section class="mbr-section mbr-after-navbar" id="video2-15">
    <div class="mbr-section__container container mbr-section__container--isolated">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--no-bg mbr-figure--caption-outside-bottom">
                    <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/ffOZLaWICqs?rel=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe>
                    </div>

                </figure>


            </div>
        </div>
    </div>

<section class="mbr-section padrows" id="image2-17">
    <div class="mbr-section__container container mbr-section__container--isolated">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <img src="<%= asset_path('reflector-1279x235-54.png')%>" class="mbr-figure__img">

                </figure>
            </div>
        </div>
    </div>
</section>


</section>

<%= render 'layouts/grid' %>

<%= render 'layouts/displaytest' %>







<!--     <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" /> -->









  <!-- End of container -->
  <!-- Sponsors -->
  <!-- Foot -->




