<%= stylesheet_link_tag    'blog-posts.css' %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Sink or Swim</h1>

                <!-- Author -->
                <p class="lead">
                    by <%= link_to 'Doctor Loans IO', root_path %>
                </p>

                <hr>

                <!-- Date/Time -->
                <p>Posted on June 16, 2016 at 7:00 PM</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="<%= asset_path('underwater_house.jpg') %>" >

                <hr>

                <!-- Post Content -->
                <p class="lead">Don’t worry if your property is underwater.  There is an estimated 3.2 million homeowners that still underwater.  I don’t like to bash the politicians for the uneven recovery, considering economists were yelling the sky was falling in 2008.  It’s plausible things could've been considerably worse. I would like to ask why though?  Let’s ponder this one for few..</p>
                <p>During “The Great Recession” corporations (particularly lenders with toxic mortgage debt) failed left and right.  While other corporations saw it as an opportunity get bad debts off the books, including bloated salaries and what they considered extra personnel.  This shrinking of the corporations makes emulates exactly what the government did (precisely after a few huge spending measures to get the economy out of free fall).  So what did the consumer do?  They got the hint and followed in the exact same steps.  Saving increased dramatically and spending reduced (in addition to significant less spending from the newly unemployed).  So where does that leave us now?  The government, well maybe not the government, but the corporations are leaner, meaner, much more efficient machines.  The consumers want to do less with more, much like the corporations, but their expenses have only increased (due to quite mild inflation, despite all the Feds measures).  This has created a concentration of wealth, and geographically this wealth is centered in metropolitan areas.  Because this is where the corporations reside.  This creates strong housing demand for these areas, but outside of these areas, where few corporations exist, there is no demand, and little rise in the housing values.</p>
                <p>How do we fix this?  Good question.  In my glory days as a mortgage broker, I did literally thousands of refinances with the Making Home Affordable Program, or HARP, or even HASP.  I was churning them out before they even had a name.  A little background about the program is that if you pay your mortgage on time, we don’t care about your credit right now, we don’t care about your home value, and we don’t need to directly verify your exact amount of income.  But, I learned all too often that customers alot of times could not take advantage of this program because of lender creating guideline overlays.  To prevent them from refinancing a debt that they already settled on from prior 2009 lending.. Let's call it “mishaps.”  Old money is worth more than new money in those cases, or that is how I read their maneuvers.</p>
                <p>However, there was one more catch.  The investor on the mortgage had to be either Fannie Mae or Freddie Mac.  Why cause this program was a government initiative and due to the market crash, the government has full ownership of Fannie Mae and Freddie Mac.  They were quasi private-government owned prior to the crash.  But when the boat started sinking, they had no choice but to send them a life-line, or global economic collapse, just might have been on the agenda.  This seems like a small criteria to overcome considering Fannie Mae And Freddie Mac are investors on more than 90 percent of mortgage originations today.  But remember, during the boom, everyone was trying to make.  Prior to 2009, roughly 60 percent of originations had Fannie or Freddie as the investor.   That is a 30 percent differential.  There were countless times that I would come across a customer who did everything right, but due to their home value they were stuck in an 8 percent interest rate.  Why?  Because they simply had the wrong investor to take advantage of the program.</p>
                <p>Now with the concentration of wealth, mild inflation, lack of consumer mechanisms to resolve exuberant debt, you can start to understand the uneven recovery not only across the whole economy, but specifically in home prices.</p>
                <p>In conclusion, I am of the opinion that it is coming quite apparent that it will take the economic boom, to revitalize housing prices where there hasn’t been much of gain.  It will most likely need to be big enough to rebuild the middle class.  Anyone want invent the next internet?</p>

                <hr>

                <!-- Blog Comments -->
            </div>
        </div>
    </div>



