
<html>
<body>



<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="header1-1" style="background-image: url(<%= asset_path('doctorbackindex-5322x3067-58.png')%>);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">

        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                <div class="row"><div class=" col-sm-6">
                    <div class="mbr-hero animated fadeInUp">


                    </div>

                </div></div>
            </div></div>
        </div>

    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="content4-26" style="background-color: rgb(255, 255, 255);">


    <div class="mbr-section__container container mbr-section__container--std-top-padding" style="padding-top: 93px;">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6">

                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">ELIGIBILITY</h3><br>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>Existing medical Doctors who are actively practicing.</p>
                        <p style="text-align: center;">OR</p>

                        <p>Medical residents who are currently employed or in residency.<p>
                        <p style="text-align: center;">OR</p>
                        <p>For salaried applicants: Medical students who are about to begin their new employment/ residency within 60 days of the closing of their mortgage transaction.</p>
                    </div>
                </div>

            </div>
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6">

                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">LOAN TYPES</h3><br>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                    <p>FIXED RATE:</p>
<p style="text-align: right;">    30 yr. fixed rate mortgage  </p>
 <p style="text-align: right;">   15 yr. fixed rate mortgage  </p>
<br><hr><br>
<p>ADJUSTABLE RATE:<p>
 <p style="text-align: right;"> 5 &nbsp yr. Fixed Period ARM* </p>
 <p style="text-align: right;"> 7  &nbsp yr. Fixed Period ARM* </p>
<p style="text-align: right;"> 10 &nbsp yr. Fixed Period ARM* </p>
<br>
<hr>
                        <p>*Amortized over 30 years</p>
                    </div>
                </div>

            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6">

                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">ELIGIBLE PROFESSIONS</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg" style="padding-top: 4px;">
                        <p>Medical residents</p>
    <p>Existing or newly licensed medical doctor (MD), including interns
    <p>Doctor of Dental Science (DDS)
    <p>Doctor of Dental Medicine (DMD) and dental surgeons specializing in oral and maxillofacial surgery.</p>
    <p>Doctor of Optometry (OD)</p>
    <p>Doctor of Ophthalmology (MD)</p>
    <p>Doctor of Podiatric Medicine (DPM)</p>
    <p>Doctor of Osteopathy (DO)</p>
    <p>Doctor of Psychiatry (MD)</p>
                    </div>
                </div>

            </div>
            <div class="clearfix visible-md-block"></div>
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6 col-lg-offset-0 col-md-offset-2">

                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">CREDIT</h3><br>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>No Derogatory (i.e. Bankruptcy, Foreclosure, Repossession, etc.)</p>
                        <p>A minimum credit score of 720 for all applicants*</p>
                        <br><hr>
                         *Including spouse and/ or co-borrower
                    </div>
                </div>

            </div>
<div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-lg-2-4 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3">

                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">SUBORDINATE FINANCING</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg" style="padding-top: 4px;">
                        <p>EAF (Employer Assisted Financing) is allowed.  If previously approved by the lender*</p>
                        <br><hr>
                        <p>*A minimum of 5% down must come from the applicant’s own funds</p>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="mbr-box__container mbr-section__container container">
        <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-center">
            <div class="row"><div class=" col-sm-8 col-sm-offset-2" style="padding-bottom: 60px;">

                <div class="mbr-buttons btn-inverse mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-info" href="<%= asset_path(new_apply_path) %>">APPLY NOW</a> <a class="mbr-buttons__btn btn btn-lg btn-danger" href="/">Back</a></div>

    </div>

</div>


</section>




</body>
</html>





