<html>
<body>
<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="header1-25" style="background-image: url(<%= asset_path('otherindex-1920x1080-15.png') %> );">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">

        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                <div class="row"><div class=" col-sm-6">
                    <div class="mbr-hero animated fadeInUp">

                        <p class="mbr-hero__subtext"></p>
                    </div>

                </div></div>
            </div></div>
        </div>

    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="content4-26" style="background-color: rgb(255, 255, 255);">


    <div class="mbr-section__container container mbr-section__container--std-top-padding" style="padding-top: 93px;">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">

                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">FIXED RATE LOANS</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>With a Fixed Rate Loan, your interest rate and monthly payment will remain the same even if market rates increase. This loan is the most popular home loan because it offers the security of knowing exactly what your mortgage expenses will be for the entire length of the loan. We provide both 30 Year Fixed Rate Loans and 15 Year Fixed Rate Loans.</p>
                    </div>
                </div>

            </div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">

                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">FHA LOANS</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>These are federally insured loans that offer financing to people who may struggle to qualify for traditional loans. Typically, FHA loans require little to no down payment, and feature flexible terms, making them popular among first-time home buyers and those with less-than perfect credit.</p>
                    </div>
                </div>

            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">

                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">HOME IMPROVEMENT LOANS</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>Finance alterations, remodeling or structural improvements with one of our Home Improvement Loans. These loans allow your mortgage balance to exceed the purchase price or appraised value of the home, so you can take out extra money for upgrades.</p>
                    </div>
                </div>

            </div>

            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">

                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">JUMBO LOANS</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>Conventional loans are often not enough to cover the financing for high-priced luxury homes. A Jumbo mortgage is a privately securitized mortgage with higher payouts that can be used to finance up to 85 percent of your new home.</p>
                    </div>
                </div>

            </div>



        </div>
    </div>

    <div class="mbr-box__container mbr-section__container container">
        <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-center">
            <div class="row"><div class=" col-sm-8 col-sm-offset-2" style="padding-bottom: 60px;">

                <div class="mbr-buttons btn-inverse mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-info" href="<%= asset_path(new_apply_path) %>">APPLY NOW</a> <a class="mbr-buttons__btn btn btn-lg btn-danger" href="/">Back</a></div>

    </div>

</div>
</section>

</body>
</html>
