        <%= javascript_include_tag 'modernizr.custom.js' %> <script type="text/javascript"> </script>
       <%= stylesheet_link_tag    'default.self-31cb51844143a8b6001890d2c0de95a75fd1b.css' %>
       <%= stylesheet_link_tag    'component.self-8b53d3bcc965f549da26f6eaf632df0b5c1.css' %>
        <%= stylesheet_link_tag  "grid.css" %>

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-28" style="background-color: rgb(255, 255, 255);">

    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="mbr-header__text" id="h2_correction">Who We Are</h2>

            </div>
        </div>
    </div>
    <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 93px;">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
            <p> Here at DoctorLoans.io, we are a network of mortgage brokers looking to offer a mortgage experience, every customer deserves.  To be honest, most consumers don’t understand how the mortgage process works.  Furthermore complicating the issue, is that most mortgage brokers, loan officers, and executives don’t understand how the mortgage process works (yes, them too).  Or in some cases they are unable to comprehend loan guidelines.
            <p>Over the years we here at DoctorLoans have used our technical knowledge to find a better way to reach out to as many customers as we possibly can.
            <p>We have had the pleasure of meeting some of best mortgage loan brokers in the industry and adding some to our inner circle here at DoctorLoans.io.  We know the mortgage market down to the microscopic level.  We would not only like to share our connections, but also share a look inside the mortgage industry about rates, guidelines, and unknown loan programs.  Specifically the Doctor Loan...</p>
 <!--    <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 93px;">
        <div class="mbr-header mbr-header--center mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="mbr-header__text center" style="color:#09539a;">DOCTORLOANS.IO</h1>

            </div>
        </div>
    </div>


            <p style="text-indent:25px;">If you’re a professional in the medical field, who is looking to buy a home, I can help. The Doctor Loan was designed to meet your specific needs, and may make it easier for you to qualify for a mortgage.  The Doctor Loan is a sensible choice for medical residents and licensed, practicing eligible medical professionals, including dentists. Contact me to learn more. I can have a mortgage professional contact you immediately.  They will be there to help you through the whole process, from application till closing.  I can promise you whether your after a niche program or more pleasant purchase experience from a conventional loan program, my mortgage brokers will have you telling your friends that there is hope for those seeking a smooth mortgage process, despite the industry's hurdles of today. </p>
            <br>
            <br> -->






</div>
        </div>
    </div>

</section>





