  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

<div id="mainwrapper">
  <div class="main">
    <div class="container">
      <!-- Features -->
      <div class="features">
        <div class="row">
          <!-- Each features should be enclosed inside the class "widget-x". x denotes a,b,c... -->
          <!-- Features #1 -->

          </div>
        </div>
      </div>
 <!-- end of #mainwrapper-->
    <!-- Gallery -->

