     <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>


    <h2><b>TESTIMONIALS</b></h2>
    <!-- Testimonial section -->
    <div class="testimonial">
      <div class="row">
        <div class="span6">
          <!-- Each testimonial should be given inside "testi" class -->
          <!-- Testimonial #1 -->
          <div class="testi">
            <!-- Testimonial author -->
            <div class="tauthor">
              <!-- Author pic -->
              <img src="<%= asset_path('img/testi2.jpg')%>" alt="" /> </div>
            <div class="tinfo">
              <!-- Quote -->
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut ante at diam pulvinar molestie. Vestibulum ac quam ante, a laoreet risus. Sus</p>
                <!-- Author details -->
                <small class="pull-right">John Doe</small> </blockquote>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="span6">
          <!-- Testimonial #2 -->
          <div class="testi">
            <div class="tauthor"> <img src="<%= asset_path('img/testi1.jpg')%>" alt="" /> </div>
            <div class="tinfo">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut ante at diam pulvinar molestie. Vestibulum ac quam ante, a laoreet risus. Sus</p>
                <small class="pull-right">John Doe</small> </blockquote>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
