<!DOCTYPE html>
<html>
<head>
<%= render 'favicon' %>
  <title>DoctorLoan.io</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>

</body>
</html>



