<!DOCTYPE html>
<html>
<head>
<%= render 'favicon' %>
  <title>Doctor Loans</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="2GZ-aYa1oDtM6Fh59w7PNYW88iLYin2HpZkNFqM4A6g" />
  <meta name="google-site-verification" content="TKZfX2x3mlU7vMJ2rMd3fV-aeBxK-U_mosqj5L80Xyc" />
</head>
<body>

<%= render 'layouts/header' %>

<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>



